{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block body %}

    <div class="my-10">
        <div class="container mx-auto grid grid-cols-3 gap-10">
            {% for category in categories %}
                <div class="bg-gray-200 p-5">
                    <h2 class="text-2xl">{{ category.name }}</h2>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
